.stack-modal-button:hover {
  cursor: pointer;
  background-color: ;
}

.stack-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.stack-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.stack-modal .modal-content h2,
.stack-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.stack-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.stack-modal .modal-content p {
  margin-bottom: 2rem;
}
.stack-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.stack-modal .modal-content img {
  margin-bottom: 2rem;
}
.stack-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.stack-modal .close-modal:hover {
  opacity: 0.3;
}
